@media (max-width: 700px) {
    .placeholder-image span {
        display: none;
    }
}

@media (max-width: 420px) {
    .container-content {
        padding: 24px 16px;
        gap: 0px;
    }

    header {
        display: none;
    }

    .container-logo-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    footer {
        flex: 0;
    }

    .btn-submit {
        margin-top: 24px;
    }

    hr {
        margin: 24px 0px;
    }

    .text-field {
        margin-bottom: 12px;
    }

    .text-field span {
        background: red;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap; 
        width: 1px;
    }

    .row {
        margin-top: 0px;
    }
}