.text-field input:focus {
    outline: 2px solid var(--system-blue);
    border-color: transparent;
}

.text-field .wrapper-input .icon:focus-visible {
    outline: 2px solid var(--system-blue);
    outline-offset: -2px;
    transform: scale(1);
}

input:placeholder-shown ~ .icon-cancel, input:not(:focus) ~ .icon-cancel {
    transform: scale(0);
}