:root {
    --black-900: #1A1A1A;
    --black-800: #333333;
    --black-700: #4D4D4D;
    --black-600: #666666;
    --black-500: #808080;
    --black-100: #E5E5E5;
    --black-50: #F2F2F2;
    --system-blue: #007AFF;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    min-height: 100vh;
    overflow-x: hidden;
}