:focus {
    outline: 2px solid var(--system-blue);
    outline-offset: 2px;
}

.wrapper-input:has(input:focus) {
    outline: 2px solid var(--system-blue);
}

.wrapper-input .btn-icon:focus-visible {
    display: block;
    outline: 2px solid var(--system-blue);
    outline-offset: -2px;
}

.wrapper-input:not(:focus-within) .btn-icon-cancel,
input:placeholder-shown ~ .btn-icon-cancel {
    display: none;
}

.toggle:focus-visible {
    outline: 2px solid var(--system-blue);
    outline-offset: 3px;
}

.toggle:checked {
    background: var(--system-blue);
    border-color: var(--system-blue);
}

.toggle:checked::before {
    left: calc(100% - 16px - 2px);
}

.toggle:hover {
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), var(--black-50);
}

.toggle:checked:hover {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), var(--system-blue);
}

button:focus-visible {
    outline: 3px solid var(--system-blue);
    outline-offset: 4px;
}

.btn-submit:hover {
    background: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)), var(--system-blue);
}

.btn-submit:active {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), var(--system-blue);
}

.btn-google:hover {
    background: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)), var(--black-800);
}

.btn-google:active {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), var(--black-800);
}