:root {
    --black-900: #1A1A1A;
    --black-800: #333333;
    --black-700: #4D4D4D;
    --black-600: #666666;
    --black-500: #808080;
    --black-100: #E5E5E5;
    --black-50: #F2F2F2;
    --system-blue: #007AFF;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    display: flex;
    color: var(--black-900);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    overflow-x: hidden;
}

.placeholder-image {
    position: relative;
    background-color: blue;
    background-image: url(images/placeholder.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.placeholder-image > span {
    position: absolute;
    bottom: 48px;
    left: 48px;
    color: white;
    font-size: 0.8rem;
    line-height: 1rem;
    letter-spacing: -0.2px;
}

.placeholder-image a {
    color: white;
    text-decoration: underline;
}

.container-content {
    width: 456px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
}

.logo img {
    width: 48px;
    height: 48px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
    margin-bottom: 24px;
}

button {
    border: none;
    cursor: pointer;
}

.text-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.text-field span {
    color: var(--black-800);
    font-size: 0.8rem;
    line-height: 0.875rem;
    letter-spacing: 0.3px;
    padding: 0px 16px;
}

.text-field .wrapper-input {
    display: flex;
    align-items: center;
    background: var(--black-50);
    border-radius: 6px;
    border: 1px solid var(--black-100);
}

.text-field input {
    background: none;
    border: none;
    color: var(--black-900);
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.25rem;
    outline: none;
    padding: 8px 8px 8px 16px;
    width: 100%;
}

.text-field input::placeholder {
    color: var(--black-500);
}

.text-field .btn-icon {
    background: transparent;
    display: block;
    padding: 8px;
    /* border: 1px solid red; */
}

.text-field .wrapper-input .btn-icon svg, .text-field .wrapper-input .btn-icon img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    pointer-events: none;
}

.container-checkbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 4px;
}

.toggle {
    display: flex;
    align-items: center;
    gap: 8px;
}

.toggle span {
    font-size: 0.8rem;
    line-height: 1.25rem;
    letter-spacing: 0.3px;
}

a {
    color: var(--system-blue);
    font-size: 0.8rem;
    line-height: 1.25rem;
    letter-spacing: 0.3px;
}

.btn-full {
    width: 100%;
    padding: 10px 24px;
    border-radius: 6px;
}

.btn-submit {
    background-color: var(--system-blue);
    color: white;
    font-size: 0.95rem;
    font-weight: 700;
    margin-top: 32px;
}

hr {
    border: none;
    border-top: 0.5px solid var(--black-100);
    margin: 32px 0px;
}

.btn-google {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-800);
    color: white;
    font-size: 0.8rem;
    gap: 8px;
    padding: 10px 16px;
}

.container-link {
    font-size: 0.8rem;
    letter-spacing: 0.3px;
    line-height: 1.25rem;
    margin-top: 24px;
    text-align: center;
}

footer {
    display: flex;
    align-items: flex-end;
    flex: 1;
    color: var(--black-600);
    font-size: 0.8rem;
    letter-spacing: -0.4px;
    line-height: 1rem;
}

footer > .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.wrapper-icon {
    display: flex;
    align-items: center;
    gap: 4px;
}

.wrapper-icon img {
    width: 24px;
    height: 24px;
}

/* hide the default icon to toggle password input visibility */
::-ms-reveal {
    display: none;
}

.sr-only {
    position: absolute;
    left: -100vw;
}