.text-field input:focus {
    outline: 2px solid var(--system-blue);
    border-color: transparent;
}

.text-field .wrapper-input .btn-icon:focus-visible {
    outline: 2px solid var(--system-blue);
    outline-offset: -2px;
    display: block;
}

.text-field .wrapper-input:not(:focus-within) .btn-icon-cancel,
input:placeholder-shown ~ .btn-icon-cancel {
    display: none;
}

button:focus-visible {
    outline: 3px solid var(--system-blue);
    outline-offset: 4px;
}

.btn-submit:hover {
    background: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)), var(--system-blue);
}

.btn-submit:active {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), var(--system-blue);
}

.btn-google:hover {
    background: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)), var(--black-800);
}

.btn-google:active {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), var(--black-800);
}